#supabase database integration
SUPABASE_URL="https://your-project.supabase.co"
SUPABASE_PUBLISHABLE_KEY="your-publishable-key"
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"

VITE_SUPABASE_URL="https://your-project.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="your-publishable-key"

# We used Grok Api to generate the Query
LLM_API_KEY="your_api_key"
LLM_BASE_URL="llm_base_url"
LLM_MODEL="llm_model_name"
